@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    width: 100%;
    height: 100%; /* Ensure full width and height */
}

/* Optional: Set a height of 100% for full-body layouts */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure body takes full viewport height */
}

/* This is your content area */
.container {
    flex-grow: 1; /* Allow content to grow and push footer down */
}
